.slideTextImg{
    background:url(../../assests/images/background/DeepSeaSpace.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 500px;
    text-align: center;
}
.innertext{
    margin-top:11.5rem ;
}
.innertext p{
    text-transform: uppercase;
    font-size: 4rem;
    color: white
}
.breakerdiv{
    height: 3px;
    background-color: white;
}
    /* spacer=------------------------ */
section.yellow  {
    /* background:url(../../assests/images/background/servies.png) no-repeat center center fixed; */
     background:white; 
    padding:5.8rem 0 4.5rem;
	color:#343a40;
}


blockquote.large {
	font-size:36px;
	font-weight:700;
	line-height:1.1em;
}

.icon-10x {
    font-size: 10em;
  }

/* Mission Block------------- */
.mission{
    background:url(../../assests/images/background/DeepSeaSpace.jpg) no-repeat center center fixed;
    background-size: cover;
    color: white;
}
.section h3{
text-align: center !important;
font-size: 2.8em;
font-weight: bold;
padding-bottom:1rem ;
}
.section h2{
    font-size: 1.5em;
}
.mission{
    padding: 6.3rem 0 5rem;
}

.missonImg{
    width: 100%;
}
 /*Services Block --------------------- */
.section.orange{
    background:url(../../assests/images/background/DeepSeaSpace.jpg) no-repeat center center fixed;
    background-size: cover;
    /* background: #343a40; */
    color: white;
    padding: 6rem 0 5rem;
}

.service-box{
    padding:1rem .5rem;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}

.service-box h4 {
    color: #f7f7f7;
    font-size: 22px;
    font-weight: 700;
    margin: .625rem 0 1rem;
}
    
.target,.targetText{
    -webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.service-box:hover {
    background:#0c6580;
}
.service-box:hover .target{
   /* transform: scale(1.1); */
   /* transform: translateY(1,2); */
   animation: zoominout .8s ease-in-out  normal;
}

.service-box:hover .targetText{
    /* transform: scale(1.1); */
    /* transform: translateY(1,2); */
    animation: textmove .8s ease-in-out  normal;
 }

 @keyframes textmove{
    0%{
        transform: translateY(0px);
        visibility: hidden;
    }
    25%{
        transform: translateY(15px);
        opacity: 0;
    }
}
@keyframes zoominout{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    
}

/* ---------------------spacer--------------Quote */
.section.bg3{
    /* background:url(../../assests/images/background/DeepSeaSpace.jpg) no-repeat center center fixed; */
    /* background-size: cover; */
    background-color: white;
    color:#343a40;
    text-align: center;
}
.groupQuote{
    padding: 6rem 0 4.5rem;
}


/*Mediaqueries for diffrent devices --------------------*/
/* Smartphones (landscape) ----------- */


/* Smartphones (portrait) ----------- */
@media only screen and (max-width :320px) {
    /* Styles */
    .slideTextImg{
        height: 380px;
    }
    .innertext p{
        font-size: 1.5rem;
        font-weight: 500;
        color: rgba(59, 57, 57, 0.925);
    }

    /* Block Quotes */
    section.yellow  {
        padding:4rem 0 2.5rem;
    }
    blockquote.large {
        font-size:1.5rem;
        font-weight:500;
        line-height:1.1em;
    }
    .icon-10x {
        font-size: 6rem;
    }
    
    /* Mission-Block */
    .section h3{
        font-size: 1.7em;
        font-weight: 600;
        padding-bottom:1rem ;
    }
    .section h2{
        font-size: 1.4em;
        font-weight: 500;
    }
    .mission{
        padding: 2.5rem 0 1.5rem;
    }
    /* Services Block */
    .section.orange{
        padding: 2.5rem 0 1.5rem;
    }
    
    .service-box{
        padding: .5rem .5rem;
    }
    
    .service-box h4 {
        font-size: 18px;
        font-weight: 600;
        margin: .5rem 0 .625rem;
    }
}

@media only screen and (min-device-width: 321px) and (max-device-width: 568px){
    /* Styles */
    .slideTextImg{
            height: 380px;
    }
    .innertext p{
        font-size: 1.7rem;
        font-weight: 500;
        color: rgba(59, 57, 57, 0.925);
    } 
    /* Block Quotes */
    section.yellow  {
        padding:4rem 0 2.5rem;
    }
    blockquote.large {
        font-size:1.5rem;
        font-weight:500;
        line-height:1.1em;
    }
    .icon-10x {
        font-size: 6rem;
    }

    /* Mission-Block */
    .section h3{
        font-size: 1.7em;
        font-weight: 600;
        padding-bottom:1rem ;
    }
    .section h2{
        font-size: 1.4em;
        font-weight: 500;
    }
    .mission{
        padding: 2.5rem 0 1.5rem;
    }
    /* Services Block */
    .section.orange{
        padding: 2.5rem 0 1.5rem;
    }

    .service-box{
        padding: .5rem .5rem;
    }

    .service-box h4 {
        font-size: 18px;
        font-weight: 600;
        margin: .5rem 0 .625rem;
    }
} 

@media only screen and (min-device-width: 569px) and (max-device-width: 768px){
    /* Styles */
    .slideTextImg{
            height: 400px;
    }
    .innertext p{
        font-size: 2.2rem;
        font-weight: 500;
    } 
    /* Block Quotes */
    section.yellow  {
        padding: 5rem 0 3rem;
    }
    blockquote.large {
        font-size:2rem;
        font-weight:500;
    }
    .icon-10x {
        font-size: 8rem;
    }

    /* Mission-Block */
    .section h3{
        font-size: 2.2em;
        font-weight: 600;
        padding-bottom:1.5rem ;
    }
    .section h2{
        font-size: 1.6em;
        font-weight: 500;
    }
    .mission{
        padding: 2.8rem 0 1.5rem;
    }
    /* Services Block */
    .section.orange{
        padding: 2.8rem 0 1.5rem;
    }

    .service-box{
        padding: .5rem .5rem;
    }

    .service-box h4 {
        font-size: 1.3rem;
        font-weight: 600;
        margin: .5rem 0 .625rem;
    }
} 

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
    .innertext p{
        font-size: 3.5rem;
        color: rgba(59, 57, 57, 0.925);
    }
    .innertext{
        margin-top:13rem ;
    }
}
    