/* ApplyForm -modal */
div.modal-body{
    padding: .1rem 0 .1rem;
}
.label{
    font-size: 0.95rem;
    font-weight: 500;
}
div.form-group{
  color: rgba(255,255,255,.8);
}
.contentDevider{
    height: 1px;
    margin: auto;
    width: 95%;
    background-color: rgba(0,0,0,.3);
}
.applyFormHeading{
    text-align: center;
    font-size: 1.2rem;
    padding-top:.5rem;
    padding-bottom: .5rem;
    color: rgba(0,0,0,.8);
}
.modalButton{
    float: right;
    position: relative;
    font-size: 20px;
    top: -26px;
    right: -16px;
    color: rgba(255,255,255,.7);
    cursor: pointer;
}
.modalButton:hover{
    color:rgba(255,50,50,.9);
}
/* ------------------- Main Navigation  Styles------------------- */
.mainnavlink  a{
    color: white !important;
}
.mainnavlink a:hover{
    color:#0c6580 !important;
}
.sideLinkApply:hover{
    text-decoration: none;
}
.mylogo{
 width: 45%;
 margin-left: 10%;
 /* transition */
 -webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
-ms-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}
.mylogo:hover{
    animation: zoominout .8s ease-in-out  normal !important;
}
@keyframes zoominout{
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.3);
    }
}

/*----------------- Sidedrawer Style----------------------- */

.SideDrawer {
    display: flex !important;
    flex-flow: row;
    position: fixed;
    width: 280px;
    max-width: 60%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2000;
    background-color:rgb(52, 58, 64);
    padding: 2rem 1rem;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    overflow: auto;
}
.Open {
    transform: translateX(0);
}
.Close {
    transform: translateX(-100%);
}
.DrawerToggle {
    width: 40px;
    height: 100%;
    display: flex;
    flex-flow: column !important;
    justify-content: space-around;
    align-items: center;
    padding: 3px 3px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 3px;
    background: rgb(36,34,34,0.28);
}

.DrawerToggle div{
    margin: 3px;
    width: 90%;
    height: 3px;
    background-color: white;
}
.DrawerToggle :hover {
    color:#0c6580 ;
}
.Backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.SideDrawer a:hover{
    text-decoration: none !important;
    color:#0c6580
}
.SideDrawer a{
    color: white;
}
hr {
    display: block;
    margin-top: 0.6em;
    margin-bottom: 0.5em;
    border-style: inset;
    border-width: 1px;
  }

  /*Mediaqueries for diffrent devices --------------------*/
  /* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width : 320px){
    /* Styles */
    .modalButton{
        color:rgba(255,50,50,.9);
        top: 2px;
        right: 5px;
    }
}
    
    /* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
        .SideDrawer .sideLink{
            margin: 7Px !important;
            padding: 2px !important;            
        }
}
@media only screen and (min-device-width : 321px) and (max-device-width : 575px) {
    /* Styles */
    .modalButton{
        color: rgba(255,50,50,.9);
        top: .4rem;
        right: .4rem;
    }
}