.label{
    font-size: 1rem;
    font-weight: 400;
    color: white    ;
}
.form-control:focus {
    border-color: #1bac91;
    box-shadow: 0 0 0 0.07rem #343a40;
  }
.custom-file-label:focus, .custom-file-input:focus{
    border-color: #1bac91;
    box-shadow: 0 0.1 0.1 0.1rem #343a40;
  }
  