.label{
    font-size: 1rem;
    font-weight: 400;
    color: white    ;
}
.form-control:focus {
    border-color: #0c6580;
    box-shadow: 0 0 0 0.07rem #0c6580;
  }
.custom-file-label:focus, .custom-file-input:focus{
    border-color: #0c6580;
    box-shadow: 0 0.1 0.1 0.1rem #51b1dd;
  }
  /* color:#0c6580 */