.contactForm{
    padding : 6rem 0 4.5rem;
    /* background:url(../../assests/images/background/bg2.jpg) no-repeat center center fixed;
    background-size: cover; */
    background-color:whitesmoke;
} 
.contactForm div h4{
    text-align: center !important;
    font-size: 2.8em;
    font-weight: bold;
    padding-bottom:1rem ;
    color:rgba(52, 58, 64, .8);
}
.contactForm div p{
    font-size: 1.1rem;
    color:#343a40;
    /* font-weight: ; */
}
.blankdivider30{
    height: 2rem;
}
.successMessage{
    color: rgba(0,76,0,1);
    text-align: center;
}

.divButton{
    margin-top: 1.5em
}
.btn-dark{
    background-color: #0c6580;
}
.error{
    color:rgba(255,0,50,0.8);
    font-size: 13px;
}

/*Mediaqueries for diffrent devices --------------------*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width : 320px) {
/* Styles */
    .contactForm{
        padding : 2.5rem 0 1.5rem;
    }
    .contactForm div h4{
        font-size: 1.7rem;
        font-weight: 600;
        padding-bottom:1rem ;
    }
    .contactForm div p{
        font-size: 1rem;
    }
    .divButton{
        text-align: center;
    }
}
@media only screen and (min-device-width : 321px) and (max-device-width : 568px) {
/* Styles */
    .contactForm{
        padding : 2.5rem 0 1.5rem;
    }
    .contactForm div h4{
        font-size: 1.7rem;
        font-weight: 600;
        padding-bottom:1rem ;
    }
    .contactForm div p{
        font-size: 1rem;
    }
    .divButton{
        text-align: center;
    }
 }
 @media only screen and (min-device-width : 569px) and (max-device-width : 768px) {
    /* Styles */
        .contactForm{
            padding: 2.8rem 0 1.5rem;
        }
        .contactForm div h4{
            font-size: 2.2em;
            font-weight: 600;
            padding-bottom:1rem ;
        }
        .contactForm div p{
            font-size: 1rem;
        }
        .divButton{
            text-align: center;
        }
     }
    
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
    
}

